.hero.is-landing {
  .hero-body {
    background-color: #266dd3;

    .hero-bg {
      background: linear-gradient(rgba(38, 109, 211, 1), rgba(38, 109, 211, 1), rgba(38, 109, 211, .3), rgba(0, 0, 0, 0.5)),
      url("/img/feature/min/hackchicago.jpg") center;
      background-size: cover;
    }
  }
}

.is-hint {
  color: #7a8c97;
}

.is-condensed {
  margin-bottom: 0 !important;
}

#intro {
  background-color: #f3f3f3;

  .title {
    font-weight: 800;
    line-height: 1.5;
    font-size: 2.8rem;

    @media screen and (max-width: 32em) {
      font-size: 1.7rem;
    }
  }

  .section-body {
    font-size: 1.5rem;

    @media screen and (max-width: 32em) {
      font-size: 1.3rem;
    }
  }

  p {
    margin-bottom: 1.2rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    line-height: 2;
  }
}

#impact {
  background-color: #f3f3f3;
  margin-bottom: 0;

  .title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #7a8c97;
  }

  .testimony {
    font-size: 1.2rem;

    .testimony-content {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;

      .quotes {
        width: 33px;
        display: block;
        margin-bottom: 1.2rem;
      }
    }

    .avatar {
      border-radius: 6px;
    }
  }

  img.featured {
    border-radius: 10px;
  }
}

#team {
  .header {
    margin: auto;
    width: 100%;

    .title {
      font-weight: 800;
      font-size: 4rem;

      @media screen and (max-width: 32em) {
        font-size: 3rem;
      }
    }

    .subtitle {
      font-weight: 800;
      font-size: 2.5rem;
    }

    .description {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7;
    }
  }

  .profiles {
    margin-top: 1.5rem;

    .profile {
      margin-bottom: 1rem;

      img {
        border-radius: 6px;
        width: 128px;
      }

      .meta {
        .name {
          font-size: 27px;

          @media screen and (max-width: 32em) {
            font-size: 24px;
          }
        }

        .is-hint {
          font-size: 1rem;
          line-height: 1.8;
        }

        p {
          margin: 0;
        }
      }
    }

    p {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}

#legit {
  .title {
    font-size: 4rem;
    font-weight: 800;
  }

  .subtitle {
    font-weight: 500 !important;
    font-size: 1.4rem;
    line-height: 1.7;

    strong {
      font-weight: 800;
    }
  }

  .logos {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    margin: auto;

    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: all 150ms;

      box-sizing: border-box;
      display: block;
      width: 140px;
      height: auto;
      margin: 14px;

      opacity: 0.7;

      &:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}

#events {
  .gallery {
    .title {
      font-size: 4rem;
      font-weight: 800;

      @media screen and (max-width: 32em) {
        font-size: 3rem;
      }
    }

    .subtitle {
      font-weight: 500 !important;
      font-size: 1.4rem;
      line-height: 1.7;

      strong {
        font-weight: 800;
      }
    }

    .card {
      box-shadow: none;

      img {
        border-radius: 6px;
      }

      .tag {
        background-color: #266dd3;
        font-weight: 600;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }
}

#contact {
  .header {
    margin: auto;
    width: 100%;

    .title {
      font-weight: 800;
      font-size: 4rem;

      @media screen and (max-width: 32em) {
        font-size: 3rem;
      }
    }

    .subtitle {
      font-weight: 800;
      font-size: 2.5rem;
    }

    .description {
      @media screen and (max-width: 32em) {
        font-size: 1.3rem;
      }

      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7;
      margin-bottom: 1.2rem;
    }

    .is-hint {
      margin-top: 10px;
    }
  }
}

#faq {
  padding-top: 0;

  .faq-grid {
    margin: auto;
    display: grid;
    margin-bottom: 36px;
    gap: 32px 18px;

    @media screen and (min-width: 32em) {
      grid-template-columns: 1fr 1fr;
    }

    .faq-box {
      .title {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.25;
        margin: 0px 0px 18px;
      }

      .description {
        max-width: 64rem;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.675;
      }
    }
  }
}

#grant {
  .title {
    font-weight: 400;
    margin-bottom: 2rem;

    strong {
      font-weight: 800;
    }
  }

  .title {
    line-height: 1.5;
  }

  .subtitle {
    line-height: 1.65;
  }

  .column.left-feature {
    @media screen and (max-width: 1024px) {
      width: 100%;
      text-align: center;
    }
  }

  .column.button-feature {
    position: relative;

    .button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        transform: translateY(-50%) scale(1.025);
      }
    }

    @media screen and (max-width: 1024px) {
      text-align: center;

      .button {
        position: relative;
        transform: none;

        &:hover {
          transform: scale(1.025);
        }
      }
    }
  }
}
