.hero.is-landing {
    .hero-body {
      background-color: #266dd3;
  
      .hero-bg {
        background: linear-gradient(
            rgba(38, 109, 211, 1),
            rgba(38, 109, 211, 1),
            rgba(38, 109, 211, 0.3),
            rgba(0, 0, 0, 0.5)
          ),
          url('/img/feature/min/mcdonogh.jpg') center;
        background-size: cover;
      }
    }
  }