.hero.is-landing {
  .hero-body {
    background-color: #266dd3;
    padding-bottom: 3rem;

    .hero-bg {
      background: linear-gradient(
          rgba(38, 109, 211, 1),
          rgba(38, 109, 211, 1),
          rgba(38, 109, 211, 0.3),
          rgba(0, 0, 0, 0.5)
        ),
        url('/img/feature/min/mcdonogh.jpg') center;
      background-size: cover;
    }

    .title {
      font-size: 4rem;
    }

    .subtitle {
      font-size: 1.5rem;

      @media screen and (max-width: 32em) {
        font-size: 1.2rem;
      }
    }
  }
}

.main {
  text-rendering: optimizeLegibility;
  line-height: 2;
  font-size: 1.2rem;

  @media only screen and (max-width: 600px) {
    font-size: 1rem;
  }

  p {
    margin-bottom: 1.2rem;

    em {
      font-style: italic;
    }
  }

  img {
    display: block;
    margin: 3rem auto;
    max-width: 100%;
    height: auto;
  }

  .footnote {
    font-size: 0.5rem;
  }

  .post-card {
    height: 20rem;
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: none;
    overflow-y: hidden;
    margin-bottom: 1.5rem;
    animation-delay: calc((var(--animation-order) + 1) * 150ms + 100ms);

    .bg {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 40%;
      transition: all 0.3s ease;
      opacity: 1;
      object-fit: cover;
      margin: 0;
    }

    .main {
      width: 55%;
    }

    &:hover {
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      transform: scale(1.02);

      .cover {
        opacity: 0;
      }
    }

    h1.post-title {
      color: #000;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.5;
      z-index: 100;
      margin-top: 1rem;
    }

    p.is-hint {
      font-size: 1rem;
      margin-top: 1rem;
    }

    p.post-meta,
    p.post-pre {
      color: #5b5e6d;
      font-size: 1rem;
      margin-bottom: 0;
    }

    p.post-meta {
      position: absolute;
      bottom: 10px;
    }

    span.post-tag {
      &::after {
        content: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%223%22%20height%3D%227%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M0%206l3-2.333L0%201%22%20stroke%3D%22%23333648%22%20stroke-width%3D%22.5%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E');
        margin-left: 5px;
        padding-bottom: 5px;
        display: inline-block;
        vertical-align: middle;
      }
    }

    @media screen and (max-width: 32em) {
      height: auto;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
      z-index: 0;
      min-height: 18rem;

      .main,
      .bg {
        width: 100%;
      }

      .bg {
        z-index: -10;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .3;
      }

      .main {
        z-index: 100;

        h1.post-title {
          margin-top: .5rem;
        }
      }
    }
  }
}
