.hero.is-landing {
  .hero-body {
    background-color: #266dd3;

    .title {
      font-size: 3rem;
      max-width: 850px;
      line-height: 1.5;
      margin: 0 auto 1.5rem;

      @media only screen and (max-width: 600px) {
          font-size: 2rem;
      }
    }

    .subtitle {
        font-size: 1rem;
    }

    .hero-bg {
      background-size: cover;
    }
  }
}

.main {
  text-rendering: optimizeLegibility;
  max-width: 800px;
  word-break: break-word;
  margin: 3rem auto 4rem;
  line-height: 2;
  font-size: 1.2rem;

  h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.17rem;
  }

  @media only screen and (max-width: 600px) {
    margin: 1.8rem 1.8rem 3.6rem;
    font-size: 1rem;

    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 1.5rem;
    }
  
    h3 {
      font-size: 1.17rem;
    }
  
    h4 {
      font-size: 1rem;
    }
  }

  ul {
    margin-bottom: 1rem;

    li {
      &::before {
        content: '•';
        margin-right: 1rem;
      }
    }

  }

  p {
    margin-bottom: 1.2rem;

    em {
        font-style: italic;
    }
  }

  img {
      display: block;
      margin: 3rem auto;
      max-width: 100%;
      height: auto;
  }

  .footnote {
      font-size: .5rem;
  }
}
