<script type="application/ld+json">
  {
    "@context": "http://www.schema.org",
    "@type": "EducationalOrganization",
    "name": "Execute Big",
    "url": "https://executebig.org",
    "logo": "https://executebig.org/img/logo-blue.png",
    "image": "https://executebig.org/img/social.png",
    "description": "We've organized innovative, purpose-driven events impacting thousands of students. We want to help schools like yours to start your own.",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "San Francisco",
      "addressRegion": "California",
      "postalCode": "94103",
      "addressCountry": "United States"
    }
  }
</script>
