<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
  <!--<![endif]-->

  <head>

    {{ partial "head/meta.html" . }}
  
    {{ partial "head/seo.html" . }}

    <!-- Font Configuration -->
    <link
      rel="stylesheet"
      href="//rsms.me/inter/inter.css"
      type="text/css"
      async
    />

    {{ $reset := resources.Get "global/scss/utils/reset.scss" | toCSS }}
    {{ $bulma := resources.Get "global/scss/bulma/bulma.sass" | toCSS }}
    {{ $globalScss := resources.Get "global/scss/global.scss" | toCSS }}
    {{ $currentCss := resources.Get "blog/scss/list.scss" | toCSS }}
  
    {{ $styles := slice $reset $bulma $globalScss $currentCss | resources.Concat "blog/css/list-bundle.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" async>
  </head>

  <body>
    {{ partial "header/nav.html" . }}

    <section class="hero is-small is-landing is-dark">
      <div class="hero-body">
        <div class="hero-bg"></div>
        <div class="container">
          <p class="title">
            Blog<img src="/vectors/pig-square.svg" class="logo-float" />
          </p>
          <p class="subtitle">
            The stories behind the students that we work with at Execute Big.
          </p>
        </div>
      </div>
    </section>

    
    <div class="section">
    <div class="main container">


    <div class="columns is-multiline is-centered">
    {{ range .Pages.ByPublishDate.Reverse }}

      <div class="column is-half is-full-tablet">
        <a href="{{ .RelPermalink }}" >
          <div class="post-card box" style="background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0) 60%),url('{{ .RelPermalink }}{{ .Params.card }}') center;background-size:cover">
            {{$primaryTag := index (.Params.tags) 0 }}
            <p class="post-meta"><span class="post-date">{{ dateFormat "Jan 2, 2006" .PublishDate }}</span> in <span class="post-tag">#{{$primaryTag}}</span></p>
            <h1 class="post-title">
              {{ .Title }}
            </h1>
            <p class="post-meta">
              <span class="post-author">By {{ .Params.author }}</span>
              &middot;
              <span class="post-readtime">{{ .ReadingTime }} min read</span>
            </p>
          </div>
        </a>
      </div>

    {{ end }}
    </div>

    </div>
    </div>

    {{ partial "footer/footer.html" . }}

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    {{ $tracking := resources.Get "global/js/tracking.js" }}
    {{ $globalJs := resources.Get "global/js/global.js" }}
    {{ $currentJs := resources.Get "blog/js/list.js" }}

    {{ $scripts := slice $tracking $globalJs $currentJs | resources.Concat "blog/js/list-bundle.js" | minify | fingerprint }}
    <script src="{{ $scripts.RelPermalink }}" integrity="{{ $scripts.Data.Integrity }}" crossorigin="anonymous" async></script>

    <script src="https://kit.fontawesome.com/a4f26b881b.js"></script>
  </body>
</html>