<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
  <!--<![endif]-->

  <head>
    {{ partial "head/global.html" . }}

    {{ $currentCss := resources.Get "grant/scss/main.scss" | toCSS }}
  
    {{ $styles := slice $currentCss | resources.Concat "grant/css/bundle.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" async>
  </head>

  <body>
        <section id="start-landing" class="hero is-eb">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Starting Your Travel Grant Application: Step 1
                    </h1>
                </div>
            </div>
        </section>

        <section id="start">
            <div class="container">
                <h2 class="title">Welcome!</h2>
                <p>Thanks for your interest in Travel Grant. For your application, you'll need to submit a 1-10 minute video. </p>
                <p>Recording this video shouldn't take you over 20 minutes!</p>
                <p>Take your time — as long as it's not too late for your event, applications are accepted on 
                    a rolling basis. We typically respond within a few days. We can’t wait to see your application! </p>

                <h2 class="title">What To Include</h2>
                <p><strong>1. A Self-Introduction</strong>: Who are you? Where are you from? What's your school like?</p>
                <p><strong>2. Your Experience</strong>: Are you new to coding? Hackathons? </p>
                <p><strong>3. Motives</strong>: How did you hear about Travel Grant? The event? Why do you want to attend hackathons? Which event do you want to go to? Why, out of all the other events, <u>this</u> specific event?</p>
                <p><strong>4. Wow Us</strong>: Briefly tell us about something that we don't already know about you. This could be anything! For example... What makes you unique?</p>
                <p>You don't have to answer these questions in order! You're the director—tell us your story.</p>    

                <h2 class="title">What Not To Include</h2>
                <p><strong>1. Your Contact Information/Traveling Cost</strong>: You'll be submitting that with your video.</p>
                <p><strong>2. Anything Listed On Your Resume/Portfolio</strong>: We'll be reading those as well! Assume that we've already read them before watching your video.</p>
                <p><strong>3. A College Application</strong>: Boo! As fun as your college application essays might be, please don't treat this application as a college application. 
                    We're looking for a drastically different students than college admission officers. Be interesting & creative!</p>
                <p><strong>4. Edited Content</strong>: <hl>Please do not edit your video.</hl> No trimming, no picture-in-picture, no speeding up & slowing down. If you make a mistake, correct yourself, and move on. If you make too many mistakes, 
                    start over and record a new clip. But don't over-rehearse! This shouldn't take you more than half an hour, if not 20 minutes.</p>
                <p><strong>5. A Rick Roll</strong>: Yeah... No thanks.</p>

                <h2 class="title">Recording Your Video</h2>
                <p>1. Record your video with your phone or laptop webcam. We're not looking for crazy-high resolutions... But we do want to see you!</p>
                <p>2. Upload your video to Google Drive, create a sharable link; or upload your video to YouTube, and make it unlisted. </p>
                <p>3. Copy the link; visit it with "Incognito Mode" to make sure we can access it.</p>
                
                <h2 class="title">All Done?</h2>
                <p>Grab your link — you will need it in the next step.</p>
                <a href="/grant/apply/submit" class="button is-large is-inverted is-action"
                title="Submit Your Application">Submit Your Application!</a>
            </div>
        </section>
  </body>
</html>