<div class="column is-one-third">
  <div class="box staff">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img class="is-rounded" src="/img/team/megan.jpg" alt="Image" />
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <h1 class="title">Megan Cui</h1>
          <p>Head of Development</p>
        </div>
      </div>
    </article>
    <a href="mailto:megan@executebig.org" class="email"><i class="far fa-envelope"></i></a>
  </div>
</div>

<div class="column is-one-third">
    <div class="box staff">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img class="is-rounded" src="/img/team/mingjie.jpg" alt="Image" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <h1 class="title">Mingjie Jiang</h1>
            <p>Head of Operations</p>
          </div>
        </div>
      </article>
      <a href="mailto:mingjie@executebig.org" class="email"><i class="far fa-envelope"></i></a>
    </div>
  </div>
  