<div class="profiles columns">
  <div class="column">
    <div class="box">
      <article class="media profile">
        <div class="media-left">
          <figure class="image">
            <img src="/img/team/megan.jpg" alt="Megan Cui" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content meta">
            <strong class="name">Megan<br />Cui</strong><br />
            <p class="is-hint">Harvard University</p>
            <p class="is-hint">Cincinnati, Ohio</p>
          </div>
        </div>
      </article>

      <p>
        Megan made hackathons in the greater Cincinnati region the next big
        thing, running five hackathons of her own including the Midwest’s
        largest and Cincinnati’s first. Along with her programs, she has
        impacted 1000+ students across her community, receiving
        <a
          href="https://www.inverse.com/article/47485-young-innovators-megan-cui-hackathon"
          >national media coverage</a
        >
        and invitations to speak at corporate and community
        <a href="https://youtu.be/OxtZvyCA1DE">events</a>.
      </p>
    </div>
  </div>

  <div class="column">
    <div class="box">
      <article class="media profile">
        <div class="media-left">
          <figure class="image">
            <img src="/img/team/mingjie.jpg" alt="Mingjie Jiang" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content meta">
            <strong class="name">Mingjie<br />Jiang</strong><br />
            <p class="is-hint">Thomas Wootton HS</p>
            <p class="is-hint">Washington, DC</p>
          </div>
        </div>
      </article>

      <p>
        Mingjie started a series of beginner-oriented hackathons in the
        Washington D.C. area. As a part of the
        <a href="https://hackclub.com/">Hack Club</a> core team, he has also
        mentored student leaders across the nation, helping them start their own
        events in 7 different states. Some of the
        <a href="https://mingjie.info/#experience">events</a> that he has worked
        with are now some of the largest and most successful in the nation.
      </p>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <article class="media profile">
        <div class="media-left">
          <figure class="image">
            <img src="/img/team/sean.jpg" alt="Sean Kim" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content meta">
            <strong class="name">Sean<br />Kim</strong><br />
            <p class="is-hint">U. of Illinois at Chicago</p>
            <p class="is-hint">Chicago, Illinois</p>
          </div>
        </div>
      </article>

      <p>
        Sean helped kickstarting the high school hackathon community in the
        Midwest by starting his own. As the founder and director of some of most
        impactful events in the region, including
        <a href="https://chicagohacks.tech">Chicago Hacks</a>,
        <a href="https://code211.org/">Code211</a>, and
        <a href="https://hackchicago.io/">Hack Chicago</a>, he has continuously
        been impacting hundreds of high school students' lives from around the
        Midwest.
      </p>
    </div>
  </div>
</div>
