<footer class="footer">
  <div class="content container">
    <!--
      <p class="is-footer-head"><strong>EXECUTE BIG</strong></p>
      <p class="is-hint is-condensed"><a href="mailto:team@executebig.org">team@executebig.org</a></p>
      <hr class="is-tiny" />-->

    <div class="right is-pulled-right">
      <a href="/" class="pig-house">
        <img
          class="is-pig is-tiny is-hidden-mobile"
          src="/vectors/logo-blue.svg"
          alt="Flying Pig"
        />
      </a>
      <p class="social">
        <a href="https://facebook.com/ExecuteBig">
          <span class="icon is-medium">
            <i class="fab fa-facebook-f fa-lg"></i>
          </span>
        </a>
        <a href="https://twitter.com/ExecuteBig">
          <span class="icon is-medium">
            <i class="fab fa-twitter fa-lg"></i>
          </span>
        </a>
        <a href="https://instagram.com/ExecuteBig">
          <span class="icon is-medium">
            <i class="fab fa-instagram fa-lg"></i>
          </span>
        </a>
        <a href="https://linkedin.com/company/executebig">
          <span class="icon is-medium">
            <i class="fab fa-linkedin fa-lg"></i>
          </span>
        </a>
        <a href="https://github.com/ExecuteBig">
          <span class="icon is-medium">
            <i class="fab fa-github fa-lg"></i>
          </span>
        </a>
      </p>
    </div>

    <div class="left is-pulled-left">
      <div class="footer-menu">
        {{ partial "footer/footer-menu.html" . }}
      </div>
      <hr class="is-tiny" />
      <div class="container footer-bottom">
        <p class="copy"><strong>&copy; 2020 Execute Big.</strong> All rights reserved.</p>
        <span class="is-hint">
          Execute Big is fiscally sponsored by
          <a href="https://hackclub.com">The Hack Foundation</a>, a 501(c)(3)
          public charity with the EIN 81-2908499.
        </span>
      </div>
    </div>
  </div>
</footer>