<ul>
  <li><a href="/"><strong>Execute Big</strong></a></li>
  <li><a href="/team/">Team</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="https://github.com/ExecuteBig/">Open Source</a></li>
  <li><a href="/assets/eb-branding.zip">Press Kit</a></li>
  <li><a href="/donate/pay/">Donate</a></li>
</ul>
<ul>
  <li><a href="https://hackclub.com/" target="_blank"><strong>Hack Club</strong></a></li>
  <li><a href="https://hackclub.com/community/" target="_blank">Community</a></li>
  <li><a href="https://hackathons.hackclub.com" target="_blank">Hackathons</a></li>
  <li><a href="https://hackclub.com/conduct/" target="_blank">Conduct</a></li>
  <li><a href="https://hackclub.com/donate/" target="_blank">Donate</a></li>
</ul>
