<footer class="footer">
  <div class="content has-text-centered">
    <!--
      <p class="is-footer-head"><strong>EXECUTE BIG</strong></p>
      <p class="is-hint is-condensed"><a href="mailto:team@executebig.org">team@executebig.org</a></p>
      <hr class="is-tiny" />-->
    <a href="/">
      <img
        class="is-pig is-tiny"
        src="/vectors/logo-blue.svg"
        alt="Flying Pig"
      />
    </a>
    <p>
      <a href="https://facebook.com/ExecuteBig">
        <span class="icon is-medium">
          <i class="fab fa-facebook-f fa-lg"></i>
        </span>
      </a>
      <a href="https://twitter.com/ExecuteBig">
        <span class="icon is-medium">
          <i class="fab fa-twitter fa-lg"></i>
        </span>
      </a>
      <a href="https://instagram.com/ExecuteBig">
        <span class="icon is-medium">
          <i class="fab fa-instagram fa-lg"></i>
        </span>
      </a>
      <a href="https://linkedin.com/company/executebig">
        <span class="icon is-medium">
          <i class="fab fa-linkedin fa-lg"></i>
        </span>
      </a>
      <a href="https://github.com/ExecuteBig">
        <span class="icon is-medium">
          <i class="fab fa-github fa-lg"></i>
        </span>
      </a>
      <br />
      <span class="is-hint">
        Fiscally sponsored by
        <a href="https://hackclub.com">The Hack Foundation</a>,<br />
        a 501(c)(3) non-profit organization. EIN: 81-2908499
      </span>
    </p>
  </div>
</footer>

<script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>