<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!-->
<html>
  <!--<![endif]-->

  <head>
    {{ partial "head/global.html" . }}

    {{ $currentCss := resources.Get "home/scss/main.scss" | toCSS }}
  
    {{ $styles := slice $currentCss | resources.Concat "home/css/bundle.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" crossorigin="anonymous" async>
  </head>

  <body>
    {{ partial "header/nav.html" . }}

    <section class="hero is-medium is-landing is-dark">
      <div class="hero-body">
        <div class="hero-bg"></div>
        <div class="container animated fadeInUp">
          <img src="/vectors/logo-white.svg" />
          <p class="title" style="display:none">
            Execute Big
          </p>
          <p class="subtitle">
            Dedicated to helping more students, leaders, and schools <strong>dream big and execute big</strong>. With our help and resources, pigs can fly.
          </p>
          <a class="button is-action is-large" href="/blog/q1-2020-impact/"><i class="fas fa-trophy"></i>&ensp;Read Our Q1 Impact Report</a>
        </div>
      </div>
    </section>

    <section id="programs">
      <div class="columns three is-gapless">
        <div class="column">
          <a href="/events">
            <div class="box animated fadeInUp" id="events">
              <div class="cover"></div>
              <h1 class="title">Events</h1>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/grant">
            <div class="box animated fadeInUp" id="grant">
              <div class="cover"></div>
              <h1 class="title">Travel Grant</h1>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/advising">
            <div class="box animated fadeInUp" id="advising">
              <div class="cover"></div>
              <h1 class="title">Advising</h1>
            </div>
          </a>
        </div>
      </div>
      <div class="columns is-gapless">
        <div class="column">
          <a href="/team">
            <div class="box animated fadeInUp" id="team">
              <div class="cover"></div>
              <h1 class="title">Team</h1>
            </div>
          </a>
        </div>
        <div class="column">
          <a href="/blog">
            <div class="box animated fadeInUp" id="blog">
              <div class="cover"></div>
              <h1 class="title">Blog</h1>
            </div>
          </a>
        </div>
      </div>
    </section>

    {{ partial "footer/footer.html" . }}
    {{ partial "block/research-modal.html" . }}

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    {{ $tracking := resources.Get "global/js/tracking.js" }}
    {{ $globalJs := resources.Get "global/js/global.js" }}
    {{ $currentJs := resources.Get "home/js/app.js" }}

    {{ $scripts := slice $tracking $globalJs $currentJs | resources.Concat "home/js/bundle.js" | minify | fingerprint }}
    <script src="{{ $scripts.RelPermalink }}" integrity="{{ $scripts.Data.Integrity }}" crossorigin="anonymous" async></script>

    <script src="https://kit.fontawesome.com/a4f26b881b.js"></script>
  </body>
</html>