.hero.is-landing {
  .hero-body {
    background-color: #266dd3;

    img {
      width: 20rem;
      margin-bottom: 1rem;
    }

    .hero-bg {
      background: rgba(38, 109, 211, 1);
      background-size: cover;
    }
  }
}

#programs {
  .columns {
    margin: 0;
  }

  .box {
    height: 20rem;
    box-shadow: none;
    border-radius: 0;
    cursor: pointer;
    transition: all 1s ease;
    position: relative;
    overflow: hidden;
    background: #266dd3;

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:linear-gradient(rgba(38, 109, 211, 1), rgba(38, 109, 211, 1), rgba(38, 109, 211, .3));
      transition: all .3s ease;
      opacity: .5;
      z-index: -10;
    }

    .title {
      margin: auto;
      width: 100%;
      text-align: center;
      margin-top: 7.2rem;
      font-weight: 800;
      color: #fff;
      text-shadow: 0 1px 4px rgba(0, 0, 0, 0.375);
      font-size: 2.8rem;
      opacity: 1;
      transition: all .3s ease;
      z-index: 100;
    }

    &#events {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%),
        url('/img/feature/hackchicago.gif') center;
      background-color: #266dd3;
      background-size: cover;
      animation-delay: 0s;
    }

    &#grant {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%),
        url('/img/feature/flight.gif') center;
      background-color: #266dd3;
      background-size: cover;
      animation-delay: 0.1s;
    }

    &#advising {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%),
        url('/img/feature/advising.gif') center;
      background-color: #266dd3;
      background-size: cover;
      animation-delay: 0.2s;
    }

    &#team {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%),
        url('/img/feature/sf.gif') center;
      background-color: #266dd3;
      background-size: cover;
      animation-delay: 0.3s;
    }

    &#blog {
      background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 75%),
        url('/img/feature/gilmour.gif') center;
      background-color: #266dd3;
      background-size: cover;
      animation-delay: 0.3s;
    }

    &:hover {
      z-index: 100;

      .title {
        opacity: 0.3;
      }

      .cover {
        opacity: .1;
      }
    }
  }
}
