body,
button,
input,
select,
textarea {
  font-family: "Inter", sans-serif !important;
}

::selection {
  background: #266dd3;
  color: #fff;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #266dd3;
  color: #fff;
  /* Gecko Browsers */
}

.is-eb {
  background-color: #266dd3;

  .title,
  .subtitle {
    color: #fff;
  }
}

.is-branding {
  font-weight: 800 !important;
}

.navbar {
  &.is-eb {
    background-color: #266dd3;

    .navbar-burger {
      color: #fff;
    }

    @media screen and (max-width: 1023px) {
      .navbar-menu {
        background-color: #266dd3;

        .navbar-item {
          background-color: #266dd3;
        }
      }
    }

    .navbar-item {
      color: #fff;
      transition: all 0.1875s cubic-bezier(0.375, 0, 0.675, 1) 0s;

      &.is-active {
        font-weight: 600;
      }

      &:hover,
      &:focus {
        background-color: #266dd3;
        color: #ddd;
      }
    }
  }
}

.hero {
  &.is-landing {
    background: none !important;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    text-align: center;

    .hero-body {
      position: relative;
      overflow: hidden;
      background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('/img/feature/wall.jpg') center;
      background-size: cover;


      .container {
        margin-top: 4rem;

        a.button {
          margin: 20px;
        }

        @media screen and (max-width: 32em) {
          margin-top: 3rem;

          p {
            font-size: 1.25rem;
          }

          #top-logo {
            width: 200px;
            margin-bottom: 20px;
          }

          a.button {
            font-size: 1rem;
          }
        }
      }
    }

    .title {
      font-size: 5rem;
      margin-bottom: 3rem;
    }

    .subtitle {
      font-size: 2rem;
      line-height: 1.6;
      margin: auto;

      @media screen and (max-width: 32em) {
        font-size: 1.5rem;
      }

      strong {
        text-shadow: rgb(0, 0, 0) 0px 1px 4px;
        font-weight: 700;
      }

      &.play {
        margin: 15px;
      }
    }

    .is-disclaim {
      margin-top: 0.5rem;
    }
  }
}

a.button {
  font-weight: bold;
  line-height: 1.125;
  -webkit-appearance: none;
  cursor: pointer;
  will-change: transform;
  transform: scale(1);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  font-family: inherit;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 2px 12px;

  &.is-large {
    border-radius: 6px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 24px;
  }

  &.is-action {
    color: #266dd3;
    transition: all 0.1875s cubic-bezier(0.375, 0, 0.675, 1) 0s;

    &.is-inverted {
      color: #fff;
      background-color: #266dd3;
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.125) 0px 2px 12px 2px;
      transform: scale(1.025);
      box-shadow: rgba(0, 0, 0, 0.125) 0px 2px 6px;
      outline: 0px;
    }
  }
}

.is-hint {
  color: #7a8c97;
}

.is-condensed {
  margin-bottom: 0 !important;
}

#intro {
  background-color: #f3f3f3;

  .title {
    font-weight: 800;
    line-height: 1.5;
    font-size: 2.8rem;

    @media screen and (max-width: 32em) {
      font-size: 1.7rem;
    }
  }

  .section-body {
    font-size: 1.5rem;

    @media screen and (max-width: 32em) {
      font-size: 1.3rem;
    }
  }

  p {
    margin-bottom: 1.2rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    line-height: 1.675;
  }
}

#impact {
  background-color: #f3f3f3;
  margin-bottom: 0;

  .title {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
    line-height: 1.5;
    color: #7a8c97;
  }

  .testimony {
    font-size: 1.2rem;

    .testimony-content {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 1rem;

      .quotes {
        width: 33px;
        display: block;
        margin-bottom: 1.2rem;
      }
    }

    .avatar {
      border-radius: 6px;
    }
  }

  img.featured {
    border-radius: 10px;
  }
}

#team {
  .header {
    margin: auto;
    width: 100%;

    .title {
      font-weight: 800;
      font-size: 4rem;

      @media screen and (max-width: 32em) {
        font-size: 3rem;
      }
    }

    .subtitle {
      font-weight: 800;
      font-size: 2.5rem;
    }

    .description {
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7;
    }
  }

  .profiles {
    margin-top: 1.5rem;

    .profile {
      margin-bottom: 1rem;

      img {
        border-radius: 6px;
        width: 128px;
      }

      .meta {
        .name {
          font-size: 27px;

          @media screen and (max-width: 32em) {
            font-size: 24px;
          }
        }

        .is-hint {
          font-size: 1rem;
          line-height: 1.8;
        }

        p {
          margin: 0;
        }
      }
    }

    p {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}

#legit {
  .title {
    font-size: 4rem;
    font-weight: 800;
  }

  .subtitle {
    font-weight: 500 !important;
    font-size: 1.4rem;
    line-height: 1.7;

    strong {
      font-weight: 800;
    }
  }

  .logos {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-box-pack: justify;
    margin: auto;

    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      transition: all 150ms;

      box-sizing: border-box;
      display: block;
      width: 140px;
      height: auto;
      margin: 14px;

      opacity: 0.7;

      &:hover {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        opacity: 1;
      }
    }
  }
}

#events {
  .gallery {
    .title {
      font-size: 4rem;
      font-weight: 800;

      @media screen and (max-width: 32em) {
        font-size: 3rem;
      }
    }

    .subtitle {
      font-weight: 500 !important;
      font-size: 1.4rem;
      line-height: 1.7;

      strong {
        font-weight: 800;
      }
    }

    .card {
      box-shadow: none;

      img {
        border-radius: 6px;
      }

      .tag {
        background-color: #266dd3;
        font-weight: 600;
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }
}

#contact {
  .header {
    margin: auto;
    width: 100%;

    .title {
      font-weight: 800;
      font-size: 4rem;

      @media screen and (max-width: 32em) {
        font-size: 3rem;
      }
    }

    .subtitle {
      font-weight: 800;
      font-size: 2.5rem;
    }

    .description {
      @media screen and (max-width: 32em) {
        font-size: 1.3rem;
      }

      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.7;
      margin-bottom: 1.2rem;
    }

    .is-hint {
      margin-top: 10px;
    }
  }
}

#faq {
  padding-top: 0;

  .faq-grid {
    margin: auto;
    display: grid;
    margin-bottom: 36px;
    gap: 32px 18px;

    @media screen and (min-width: 32em) {
      grid-template-columns: 1fr 1fr;
    }

    .faq-box {
      .title {
        font-size: 36px;
        font-weight: bold;
        line-height: 1.25;
        margin: 0px 0px 18px;
      }

      .description {
        max-width: 64rem;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.675;
      }
    }
  }
}

footer.footer {
  padding: 3rem 1.5rem 3rem;
  background: url(/vectors/pattern.svg) repeat rgb(249, 249, 250);

  img.is-tiny {
    height: 50px;

    &.is-pig {
      margin-bottom: 15px;
    }
  }

  hr.is-tiny {
    width: 30px;
    height: 1.1px;
    margin: 12px auto;
    background-color: #7a8c97;
  }

  .is-footer-head {
    font-size: 1.3rem;
    margin-bottom: 0 !important;
  }
}

#grant {
  .title {
    font-weight: 400;
    margin-bottom: 2rem;

    strong {
      font-weight: 800;
    }
  }

  .title {
    line-height: 1.5;
  }

  .subtitle {
    line-height: 1.65;
  }

  .column.left-feature {
    @media screen and (max-width: 1024px) {
      width: 100%;
      text-align: center;
    }
  }

  .column.button-feature {
    position: relative;

    .button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &:hover {
        transform: translateY(-50%) scale(1.025);
      }
    }

    @media screen and (max-width: 1024px) {
      text-align: center;

      .button {
        position: relative;
        transform: none;

        &:hover {
          transform: scale(1.025);
        }
      }
    }
  }
}
