<script>
  const announcementId = 0 // increment when updating announcement
</script>

<article class="message is-warning" id="announcement">
  <div class="message-header">
    <p>
      Due to the recent outbreak of the COVID-19 pandemic around the nation,
      we're suspending the reviewing process of Travel Grant for events
      happening in March & early April. <a href="/grant/#contact" class="cta">Learn More</a>
    </p>
    <button class="delete" aria-label="delete" id="close-announcement" title="Do Not Show Again"></button>
  </div>
</article>
