<nav class="navbar is-eb">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="uni-nav">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="uni-nav" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item{{ if eq .Type "home" }} is-active{{ end }}" href="/">
        Home
      </a>
      <a class="navbar-item{{ if eq .Type "events" }} is-active{{ end }}" href="/events">
        Events
      </a>
      <a class="navbar-item{{ if eq .Type "grant" }} is-active{{ end }}" href="/grant">
        Grant
      </a>
      <a class="navbar-item{{ if eq .Type "advising" }} is-active{{ end }}" href="/advising">
        Advising
      </a>
      <a class="navbar-item{{ if eq .Type "blog" }} is-active{{ end }}" href="/blog">
        Blog
      </a>
      <a class="navbar-item" href="/donate/pay">
        Donate
      </a>
    </div>
  </div>
</nav>
