<nav class="navbar{{ if not (eq .Type "home") }} is-eb{{ end }}">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        src="/vectors/pig-square.svg"
        alt="Execute Big Logo"
        height="28"
      />
    </a>
    <div class="navbar-burger burger" data-target="uni-nav">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="uni-nav" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item{{ if eq .Type "home" }} is-active{{ end }}" href="/">
        Home
      </a>
      <a class="navbar-item{{ if eq .Type "events" }} is-active{{ end }}" href="/events">
        Events
      </a>
      <a class="navbar-item{{ if eq .Type "grant" }} is-active{{ end }}" href="/grant">
        Grant
      </a>
      <!--
      <a class="navbar-item{{ if eq .Type "advising" }} is-active{{ end }}" href="/advising">
        Advising
      </a>-->
    </div>
  </div>
</nav>
