<nav class="navbar is-eb">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img
        src="/img/logo-square-invert.png"
        alt="Execute Big Logo"
        height="28"
      />
    </a>
    <div class="navbar-burger burger" data-target="uni-nav">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="uni-nav" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item{{ if eq .Type "home" }} is-active{{ end }}" href="/">
        Home
      </a>
      <a class="navbar-item{{ if eq .Type "grant" }} is-active{{ end }}" href="/grant">
        Travel Grant
      </a>
    </div>
  </div>
</nav>
